.navbar {
  background-color: rgb(210, 212, 215);
}

.navbar-brand {
  font-size: 30px;
  font-weight: 500;
  padding-left: 55px;
}

.nav-link {
  font-size: 21px;
  border-bottom: 0px solid black;
  width: 0%;
  left: 50%;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-link:focus {
  width: 100%;
  left: 0; 
  color: black;
  font-weight: 400;
  border-bottom: 2px solid black;
}

.search-bar {
  width: 250px;
  margin-right: 55px;
  display: flex;
}

.form-control {
  margin-right: 10px;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
